{% extends "base.html" %}
{% block title %} Profile {% endblock %}
{% block content %}

{% if is_admin %}
<a href="/admin/">admin party house</a>
{% endif %}

<a href="/logout/">logout</a>

<div class="roundbox">
  <form method="post" action="/profile/namechange/">
    <label for="name">Name:</label>
    <input type="text" name="name" placeholder="{{ uname }}">
    <input type="submit" value="submit">
  </form>
</div>

<div class="roundbox">
  Activities submit go here
</div>

<div class="roundbox">
  Activities submited list go here
</div>

{% endblock %}
